name: Push Docker Image

on:
  push:
    branches:
      - traP
      - traP-*

env:
  IMAGE_NAME: codimd

jobs:
  image:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Set IMAGE_TAG env (non traP branch)
        run: echo "IMAGE_TAG=${GITHUB_REF:11}" >> $GITHUB_ENV
        if: github.ref != 'refs/heads/traP'
      - name: Set IMAGE_TAG env (traP branch)
        run: echo "IMAGE_TAG=latest" >> $GITHUB_ENV
        if: github.ref == 'refs/heads/traP'
      - uses: actions/checkout@v2
      - name: Login GitHub Registry
        run: docker login docker.pkg.github.com -u traPtitech -p ${{ secrets.GITHUB_TOKEN }}
      - name: Build Image
        run: docker build --build-arg RUNTIME=hackmdio/runtime:node-10-cjk-d27854ef -t docker.pkg.github.com/traptitech/codimd/${IMAGE_NAME}:${IMAGE_TAG} -f deployments/Dockerfile .
      - name: Push image to GitHub Registry
        run: docker push docker.pkg.github.com/traptitech/codimd/${IMAGE_NAME}:${IMAGE_TAG}
